<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="About Me" />
    <meta name="Shreyan Nandanwar" content="QR code generator" />
    <title>About Me</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section id="about-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="/static/assets/multiple-users-silhouette.png" class="img-fluid" alt="Profile Picture" width="200" height="200">
            </div>
            <div class="col-md-6 align-self-center">
                <h1 class="display-4">About Us </h1>
<!--                <p class="lead">Web Developer</p>-->
                <p class="lead">We are a passionate team of beginners who are exploring the exciting world of web development. Our journey started with curiosity, and we're eager to learn, experiment, and create.</p>
                <p>We're on a mission to learn, grow, and build. Our journey is about embracing challenges, trying out new ideas, and pushing the boundaries of our creativity.</p>
                <div class="my-4">
                    <script class="glow-on-hover" type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                            data-name="bmc-button" data-slug="shreyannandanwar" data-color="#FFDD00"
                            data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
                            data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
                </div>
            </div>
        </div>
    </div>
</section>
    {% include "footer.html" %}

</body>
</html>
